.ContadorClicks {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.ContadorClicks-contador {
  padding: 5px 0;
}

.ContadorClicks.ganador .ContadorClicks-contador {
  background-color: rgb(74, 95, 32);
}

.ContadorClicks-lienzo {
  flex-grow: 1;
}